<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.FavoriteMapper">

	<!-- 实体类与数据库字段映射配置 -->
	<resultMap id="base_result_map" type="com.entity.po.Favorite">
		<!--  -->
		<id property="id" column="id" />
		<!--  -->
		<result property="userId" column="user_id" />
		<!--  -->
		<result property="attractionId" column="attraction_id" />
		<!--  -->
		<result property="createdAt" column="created_at" />
	</resultMap>

	<!--通用查询列-->
	<sql id="base_column_list">
		id,user_id,attraction_id,created_at
	</sql>

	<!--通用查询条件-->
	<sql id="base_query_condition">
		<if test="query.id != null">
			and id = #{query.id}
		</if>
		<if test="query.userId != null">
			and user_id = #{query.userId}
		</if>
		<if test="query.attractionId != null">
			and attraction_id = #{query.attractionId}
		</if>
		<if test="query.createdAt != null">
			and created_at = #{query.createdAt}
		</if>
	</sql>

	<!--扩展查询条件-->
	<sql id="base_query_condition_extend">
		<if test="query.createdAtStart != null and query.createdAtStart != ''">
			<![CDATA[ and created_at >= str_to_date(#{query.createdAtStart} ,'%Y-%m-%d')]]>
		</if>
		<if test="query.createdAtEnd != null and query.createdAtEnd != ''">
			<![CDATA[ and created_at < date_sub(str_to_date(#{query.createdAtEnd} ,'%Y-%m-%d'),interval -1 day)]]>
		</if>
	</sql>

	<!--包含通用查询条件-->
	<sql id="query_condition">
		<where>
			<include refid = "base_query_condition"/>
			<include refid = "base_query_condition_extend"/>
		</where>
	</sql>

	<!--查询列表-->
	<select id="selectByParams" resultMap="base_result_map">
		select
		<include refid="base_column_list"/>
		from t_favorite
		<include refid="query_condition"/>
		<if test="query.orderBy != null">
			order by ${query.orderBy}
		</if>
		<if test="query.simplePage != null">
			limit #{query.simplePage.offset},#{query.simplePage.pageSize}
		</if>
	</select>

	<!--查询数量-->
	<select id="selectCountByCollection" resultType="java.lang.Long">
		select count(1)
		from t_favorite
		<include refid="query_condition"/>
	</select>

	<!--插入-->
	<insert id="insertEntity" parameterType="com.entity.po.Favorite" useGeneratedKeys="true">
		<selectKey keyProperty="bean.id" resultType="Long" order="AFTER">
			SELECT LAST_INSERT_ID()
		</selectKey>
		INSERT INTO t_favorite
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.attractionId != null">
				attraction_id,
			</if>
			<if test="bean.createdAt != null">
				created_at,
			</if>
		</trim>
		VALUES
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.attractionId != null">
				#{bean.attractionId},
			</if>
			<if test="bean.createdAt != null">
				#{bean.createdAt},
			</if>
		</trim>
	</insert>

	<!-- 插入或更新(自动处理唯一键冲突) -->
	<insert id="insertOrUpdate" parameterType="com.entity.po.Favorite" useGeneratedKeys="true" >
		INSERT INTO t_favorite
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				id,
			</if>
			<if test="bean.userId != null">
				user_id,
			</if>
			<if test="bean.attractionId != null">
				attraction_id,
			</if>
			<if test="bean.createdAt != null">
				created_at,
			</if>
		</trim>

		<trim prefix="VALUES (" suffix=")" suffixOverrides=",">
			<if test="bean.id != null">
				#{bean.id},
			</if>
			<if test="bean.userId != null">
				#{bean.userId},
			</if>
			<if test="bean.attractionId != null">
				#{bean.attractionId},
			</if>
			<if test="bean.createdAt != null">
				#{bean.createdAt},
			</if>
		</trim>

		ON DUPLICATE KEY UPDATE
		<trim suffixOverrides=",">
			<if test="bean.userId != null">
				user_id = VALUES(user_id),
			</if>
			<if test="bean.attractionId != null">
				attraction_id = VALUES(attraction_id),
			</if>
			<if test="bean.createdAt != null">
				created_at = VALUES(created_at),
			</if>
		</trim>
	</insert>

	<!-- 批量插入（推荐单批次数据量控制在500条以内） -->
	<insert id="insertBatch" parameterType="com.entity.po.Favorite">
		INSERT INTO t_favorite
		<trim prefix="(" suffix=")" suffixOverrides=",">
			user_id,	<!--  -->
			attraction_id,	<!--  -->
			created_at,	<!--  -->
		</trim>
		VALUES
		<foreach collection="list" item="item" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				#{item.userId},
				#{item.attractionId},
				#{item.createdAt},
			</trim>
		</foreach>
	</insert>

	<!-- 批量插入或修改（推荐单批次数据量控制在500条以内） -->
	<insert id="insertOrUpdateBatch" parameterType="com.entity.po.Favorite">
		INSERT INTO t_favorite
		<trim prefix="(" suffix=")" suffixOverrides=",">
			id,	<!--  -->
			user_id,	<!--  -->
			attraction_id,	<!--  -->
			created_at,	<!--  -->
		</trim>
		VALUES
		<foreach collection="list" item="item" separator=",">
			<trim prefix="(" suffix=")" suffixOverrides=",">
				#{item.id},
				#{item.userId},
				#{item.attractionId},
				#{item.createdAt},
			</trim>
		</foreach>
		ON DUPLICATE KEY UPDATE
		<trim suffixOverrides=",">
			user_id = VALUES(user_id),
			attraction_id = VALUES(attraction_id),
			created_at = VALUES(created_at),
		</trim>
	</insert>

	<!--根据Id查询-->
	<select id="selectById" resultMap="base_result_map" >
		SELECT
		<include refid="base_column_list"/>
		FROM t_favorite
		WHERE id = #{id} 
	</select>

	<!--根据Id删除-->
	<delete id="deleteById">
		DELETE FROM t_favorite
		WHERE id = #{id} 
	</delete>

	<!--根据Id修改-->
	<update id="updateById">
		UPDATE t_favorite
		<set>
			<if test="bean.userId != null">
				user_id = #{bean.userId},
			</if>
			<if test="bean.attractionId != null">
				attraction_id = #{bean.attractionId},
			</if>
			<if test="bean.createdAt != null">
				created_at = #{bean.createdAt},
			</if>
		</set>
		WHERE id = #{id} 
	</update>

	<!--根据UserIdAndAttractionId查询-->
	<select id="selectByUserIdAndAttractionId" resultMap="base_result_map" >
		SELECT
		<include refid="base_column_list"/>
		FROM t_favorite
		WHERE user_id = #{userId} ANDattraction_id = #{attractionId} 
	</select>

	<!--根据UserIdAndAttractionId删除-->
	<delete id="deleteByUserIdAndAttractionId">
		DELETE FROM t_favorite
		WHERE user_id = #{userId} ANDattraction_id = #{attractionId} 
	</delete>

	<!--根据UserIdAndAttractionId修改-->
	<update id="updateByUserIdAndAttractionId">
		UPDATE t_favorite
		<set>
			<if test="bean.id != null">
				id = #{bean.id},
			</if>
			<if test="bean.createdAt != null">
				created_at = #{bean.createdAt},
			</if>
		</set>
		WHERE user_id = #{userId} ANDattraction_id = #{attractionId} 
	</update>

	<!--根据查询条件删除-->
	<delete id="deleteByParams">
		DELETE FROM t_favorite
		<include refid="query_condition"/>
	</delete>

	<!-- 多表关联查询 -->
	<select id="selectJoin" resultType="java.util.Map">
		SELECT
		${selectColumns}
		FROM ${joinTables}
		<if test="joinConditions != null and joinConditions != ''">
			${joinConditions}
		</if>
		<if test="whereConditions != null and whereConditions != ''">
			WHERE ${whereConditions}
		</if>
	</select>

	<!-- 多表关联查询结果总数 -->
	<select id="selectJoinCount" resultType="java.lang.Long">
		SELECT COUNT(*) 
		FROM ${joinTables}
		<if test="joinConditions != null and joinConditions != ''">
			${joinConditions}
		</if>
		<if test="whereConditions != null and whereConditions != ''">
			WHERE ${whereConditions}
		</if>
	</select>

	<!-- 多表关联分页查询 -->
	<select id="selectJoinPage" resultType="java.util.Map">
		SELECT
		${selectColumns}
		FROM ${joinTables}
		<if test="joinConditions != null and joinConditions != ''">
			${joinConditions}
		</if>
		<if test="whereConditions != null and whereConditions != ''">
			WHERE ${whereConditions}
		</if>
		<if test="orderBy != null and orderBy != ''">
			ORDER BY ${orderBy}
		</if>
		<if test="offset != null and limit != null">
			LIMIT #{offset}, #{limit}
		</if>
	</select>
</mapper>